.App {
  text-align: center;
}

.courses-dashboard {
  display: flex;
  justify-content: space-between;
}

.courses-container {
  width: 45vw;
}

.course-details-container {
  display: flex;
  align-items: center;
}